<div>
  <div *ngIf="!isGameOn">
    <form [formGroup]="mazeForm" (ngSubmit)="submitMaze(mazeForm.value)">
      <div class="form-group input-label width">
        <label class="form-label" for="MazeWidth">Maze width</label>
        <input type="number" class="form-control" id="maze-width" formControlName="MazeWidth">
         <div *ngIf="f.MazeWidth.invalid && (f.MazeWidth.dirty || f.MazeWidth.touched)">
          <div *ngIf="f.MazeWidth.errors?.['required']">
            Maze Width is required.
          </div>
          <div *ngIf="f.MazeWidth.errors?.['min']">
            Maze Width needs to be at least 15.
          </div>
          <div *ngIf="f.MazeWidth.errors?.['max']">
            Maze Width needs to be maximum 25.
          </div>
        </div>
      </div>

      <div class="form-group input-label height">
        <label class="form-label" for="MazeHeight">Maze height</label>
        <input  type="number" class="form-control" id="MazeHeight" formControlName="MazeHeight">
        <div *ngIf="f.MazeHeight.invalid && (f.MazeHeight.dirty || f.MazeHeight.touched)">
         <div *ngIf="f.MazeHeight.errors?.['required']">
           Maze Height is required.
         </div>
         <div *ngIf="f.MazeHeight.errors?.['min']">
           Maze Height needs to be at least 15.
         </div>
         <div *ngIf="f.MazeHeight.errors?.['max']">
           Maze Height needs to be maximum 25.
         </div>
       </div>
      </div>

      <div class="form-group input-label name">
        <label class="form-label" for="MazePlayerName">Pony name</label>
        <input type="text" class="form-control" id="MazePlayerName" formControlName="MazePlayerName">
        <div *ngIf="f.MazePlayerName.invalid && (f.MazePlayerName.dirty || f.MazePlayerName.touched)">
         <div *ngIf="f.MazePlayerName.errors?.['required']">
           Pony name is required.
         </div>
       </div>
      </div>

      <div class="form-group input-label difficulty">
        <label class="form-label" for="Difficulty">Difficulty</label>
        <input type="number" class="form-control" id="Difficulty" formControlName="Difficulty">
        <div *ngIf="f.Difficulty.invalid && (f.Difficulty.dirty || f.Difficulty.touched)">
         <div *ngIf="f.Difficulty.errors?.['required']">
           Difficulty is required.
         </div>
         <div *ngIf="f.Difficulty.errors?.['min']">
           Difficulty needs to be at least 15.
         </div>
         <div *ngIf="f.Difficulty.errors?.['max']">
           Difficulty needs to be maximum 25.
         </div>
       </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="mazeForm.invalid">Start</button>

      <div *ngIf="isDisplayingApiErrorMessage" class="alert">
        <div>
          {{ apiErrorMessage }}
        </div>
        <div>
          Select a different name. For isnpiration visit
          <a href="https://mlpcomic.fandom.com/wiki/List_of_characters">this</a>
          site.
        </div>
      </div>
    </form>
  </div>

  <div class="col-12" *ngIf="isGameOn">
    <div *ngIf="isGameActive">
      <div class="d-block d-lg-none">
        <span style="white-space: pre; font-family: monospace; display: block; font-size: 1.65vw;">{{ mazeMap }}</span>
      </div>

      <div class="d-none d-lg-block">
        <span style="white-space: pre; font-family: monospace; display: block;">{{ mazeMap }}</span>
      </div>

      <div class="row">
        <div class="col-12">
          <span>Your location: {{ playerLocation }}</span>
        </div>
        <div class="col-12">
          <span>Domokun location: {{ domokunLocation }}</span>
        </div>
        <div class="col-12">
          <span>Endpoint location: {{ endPointLocation }}</span>
        </div>
      </div>

      <div>
        <div class="row">
          <div class="col-12 north" style="display: flex; justify-content: center;">
            <button class="btn btn-primary" (click)="makeMove('north')" [disabled]="!isGameActive">North</button>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-5 west" style="display: flex; justify-content: right;">
            <button class="btn btn-primary" (click)="makeMove('west')" [disabled]="!isGameActive">West</button>
          </div>

          <div class="col-2 south" style="display: flex; justify-content: center;">
            <button class="btn btn-primary" (click)="makeMove('south')" [disabled]="!isGameActive">South</button>
          </div>

          <div class="col-5 east" style="display: flex; justify-content: left;">
            <button class="btn btn-primary" (click)="makeMove('east')" [disabled]="!isGameActive">East</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="(!isGameActive)">
      <div *ngIf="(isWon)">
        You won!
      </div>
      <div *ngIf="(!isWon)">
        You lost!
      </div>
      <div class="row">
        <div class="col-12" style="display: flex; justify-content: center;">
          <button class="btn btn-primary" (click)="playAgain()">Play again</button>
        </div>
      </div>
    </div>
  </div>
</div>
